
<section>
	<div class="container-fluid">
		<div class="box-member-area">
			<%- include('../components/left')-%>
			<div class="right-member-area" >
				<div class="row">
					<div class="col-12">
					<div class="card">
						<div class="d-flex align-items-end row">
						<div class="col-sm-7">
							<div class="card-body">
							<h5 class="card-title text-primary">Congratulations <span class="title-content-account"></span>! 🎉</h5>
							<p class="mb-4">
								You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
								your profile.
							</p>
	
							<a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
							</div>
						</div>
						<div class="col-sm-5 text-center text-sm-left">
							<div class="card-body pb-0 px-0 px-md-4">
							<img
								src="/assets/images/illustrations/man-with-laptop-light.png"
								height="140"
								alt="View Badge User"
								data-app-dark-img="illustrations/man-with-laptop-dark.png"
								data-app-light-img="illustrations/man-with-laptop-light.png"
							/>
							</div>
						</div>
						</div>
					</div>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-md-4" style="margin-top:0.5%;">
						<div class="card p-3">
							<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
								<div class="d-flex flex-column ml-2"><span>Stripe</span><span class="text-black-50">Payment Services</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
							</div>
							<h6>Get more context on your users with stripe data inside our platform.</h6>
							<div class="d-flex justify-content-between install mt-3"><span>Installed 172 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
						</div>
					</div>
					<div class="col-md-4" style="margin-top:0.5%;">
						<div class="card p-3">
							<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/IpKQiNu.png" width="70">
								<div class="d-flex flex-column ml-2"><span>Mailchimp</span><span class="text-black-50">Project Management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
							</div>
							<h6>Capture and sync subscribers from your mailchimp platform .</h6>
							<div class="d-flex justify-content-between install mt-3"><span>Installed 1234 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
						</div>
					</div>
					<div class="col-md-4" style="margin-top:0.5%;">
						<div class="card p-3">
							<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/42SqVZd.png" width="70">
								<div class="d-flex flex-column ml-2"><span>Dropbox</span><span class="text-black-50">File Management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
							</div>
							<h6>Use dropbox to sync your photos to our platform and share it with others.</h6>
							<div class="d-flex justify-content-between install mt-3"><span>Installed 1234 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
						</div>
					</div>
					<div class="col-md-4" style="margin-top:0.5%;">
						<div class="card p-3">
							<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/lXEUCY8.png" width="70">
								<div class="d-flex flex-column ml-2"><span>Shopify</span><span class="text-black-50">Ecommerce</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
							</div>
							<h6>Sell you items with ease with having any website with our free platform</h6>
							<div class="d-flex justify-content-between install mt-3"><span>Installed 1234 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
						</div>
					</div>
					<div class="col-md-4" style="margin-top:0.5%;">
						<div class="card p-3">
							<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/S2In5pz.png" width="70">
								<div class="d-flex flex-column ml-2"><span>Atlassian</span><span class="text-black-50">Project management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
							</div>
							<h6>Developing products for developers,project managers and architects.</h6>
							<div class="d-flex justify-content-between install mt-3"><span>Installed 345 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
						</div>
					</div>
					<div class="col-md-4" style="margin-top:0.5%;">
						<div class="card p-3">
							<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/S5oK3Oe.png" width="70">
								<div class="d-flex flex-column ml-2"><span>Salesforce</span><span class="text-black-50">Project management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
							</div>
							<h6>Developing products for developers,project managers and architects.</h6>
							<div class="d-flex justify-content-between install mt-3"><span>Installed 345 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
						</div>
					</div>
				</div>
				<p>		
				<!-- Total Revenue -->
				<div class="row">
					<div class="col-12">
					<div class="card">
						<div class="row row-bordered g-0">
						<div class="col-md-8">
							<h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
							<div id="totalRevenueChart" class="px-2"></div>
						</div>
						<div class="col-md-4">
							<div class="card-body">
							<div class="text-center">
								<div class="dropdown">
								<button
									class="btn btn-sm btn-outline-primary dropdown-toggle"
									type="button"
									id="growthReportId"
									data-bs-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								>
									2022
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
									<a class="dropdown-item" href="javascript:void(0);">2021</a>
									<a class="dropdown-item" href="javascript:void(0);">2020</a>
									<a class="dropdown-item" href="javascript:void(0);">2019</a>
								</div>
								</div>
							</div>
							</div>
							<div id="growthChart"></div>
							<div class="text-center fw-semibold pt-3 mb-2">62% Company Growth</div>

							<div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
							<div class="d-flex">
								<div class="me-2">
								<span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
								</div>
								<div class="d-flex flex-column">
								<small>2022</small>
								<h6 class="mb-0">$32.5k</h6>
								</div>
							</div>
							<div class="d-flex">
								<div class="me-2">
								<span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
								</div>
								<div class="d-flex flex-column">
								<small>2021</small>
								<h6 class="mb-0">$41.2k</h6>
								</div>
							</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<p>
							
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="account"	
</script>
