<form  class="cmxform frm" data-form="audiopodcast">
    <div class="box-field">
        <input type="text" name="txtName" id="txtName" class="text-field" placeholder="Name This Connection" value="Audio Podcast"  required>
        <i class="fas fa-podcast icon-field"></i>
    </div>
    <div class="box-field">
        <input type="text" name="txtUrl" id="txtUrl" class="text-field" placeholder="Feed or Apple Podcasts URL" required>
        <i class="fas fa-plug icon-field"></i>
    </div>
    <button class="btn btn-primary btnRetryConnection">
        <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-success btnConnect">
        <i class="fas fa-podcast" aria-hidden="true"></i> Connect
    </button>
</form>