<section>
	<div class="container-fluid">
		<div class="box-member-area">
			<%- include('../components/left')-%>
			<div class="right-member-area">	
				<div style="margin-bottom:3%;">
					<button type="button" class="btn btn-success btnAddConnections" ><i class="fas fa-plus"></i> Add a New Connection</button>
					<!--
					<button type="button" class="btn btn-success btnChanel" data-scope='auth' data-name="tiktok"><i class="fas fa-refresh"></i> Tiktok</button>
					<button type="button" class="btn btn-success btnChanel" data-scope='auth' data-name="pinterest"><i class="fas fa-refresh"></i> Pinterest</button>
					<button type="button" class="btn btn-success btnChanel" data-scope='token' data-name="pinterest"><i class="fas fa-refresh"></i> Pinterest Token</button>
					-->

				</div>

				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" data-show='all' id="all-tab" data-toggle="tab" data-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-show='source' id="source-tab" data-toggle="tab" data-target="#source" type="button" role="tab" aria-controls="source" aria-selected="false">Source</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-show='destination' id="destination-tab" data-toggle="tab" data-target="#destination" type="button" role="tab" aria-controls="destination" aria-selected="false">Destination</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-show='inactive' id="inactive-tab" data-toggle="tab" data-target="#inactive" type="button" role="tab" aria-controls="inactive" aria-selected="false">Inactive</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
						<div class="con-table" style="margin-top:3%;">
							<div style="margin-bottom:2%;color:red;" >
								<div class="alert alert-warning">
									<span> Changing passwords on social media accounts will require you reconnect</span>
								</div>
							</div>
							<div class="row connections-data">
											
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
						<div class="con-table" style="margin-top:3%;">
							<div style="margin-bottom:2%;color:red;" >
								<div class="alert alert-warning">
									<span> Changing passwords on social media accounts will require you reconnect</span>
								</div>
							</div>
							<div class="row connections-data">
											
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="destination" role="tabpanel" aria-labelledby="destination-tab">
						<div class="con-table" style="margin-top:3%;">
							<div style="margin-bottom:2%;color:red;" >
								<div class="alert alert-warning">
									<span> Changing passwords on social media accounts will require you reconnect</span>
								</div>
							</div>
							<div class="row connections-data">
												
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">
						<div class="con-table" style="margin-top:3%;">
							<div style="margin-bottom:2%;color:red;" >
								<div class="alert alert-warning">
									<span> Changing passwords on social media accounts will require you reconnect</span>
								</div>
							</div>
							<div class="row connections-data">
												
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="connections"	
</script>
