Instagram is part of our <b>Premium Social Pack.</b><p>

    You'll need to upgrade to use this feature. Get this feature and unlock others when you upgrade today.<p></p>
    <p>
    <form  class="cmxform frm" data-form="instagram">
        <button class="btn btn-primary btnRetryConnection">
            <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
        </button>
        <button class="btn btn-success btnConnect">
    
            <i class="fas fa-podcast" aria-hidden="true"></i> Connect
        </button>
    </form>
    