<form  class="cmxform frm" data-form="lensprotocol">
    <div class="box-field">
        <input type="text" name="txtName" id="txtName" class="text-field" placeholder="Name This Connection" value="Lens Protocol"  required>
        <i class="fas fa-podcast icon-field"></i>
    </div>
    <div class="box-field">
        Web3 apps use blockchains, smart contracts and wallets to sign firms that grant the permissions<p>

        * Here are a few examples: Metamask and Coinbase, or you can use the one you already have.<p>

        * Once you set up your account and have downloaded the corresponding extension of your wallet, you can proceed with the connection.<p>

        * When you click Connect, a pop-up of your extension will show up where you can firm and grant permissions.<p>

        <a href="https://www.lens.xyz/" target="_blank">Learn more about Lens Protocol.</a>

    </div>
    
    <button class="btn btn-primary btnRetryConnection">
        <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-success btnConnect">
        <i class="fas fa-podcast" aria-hidden="true"></i> Connect
    </button>
</form>