<form  class="cmxform frm" data-form="snapchat">
    <div class="box-field">
        <input type="text" name="txtName" id="txtName" class="text-field" placeholder="Name This Connection" value="Snapchat"  required>
        <i class="fas fa-podcast icon-field"></i>
    </div>
    
    <button class="btn btn-primary btnRetryConnection">
        <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-success btnConnect">
        <i class="fas fa-podcast" aria-hidden="true"></i> Connect
    </button>
</form>