<form  class="cmxform frm" data-form="youtube">
    <div class="box-field">
        <input type="text" name="txtName" id="txtName" class="text-field" placeholder="Name This Connection" value="YouTube"  required>
        <i class="fas fa-podcast icon-field"></i>
    </div>
    <div class="box-field">
        <select id="optFormConnectionYoutube" name="optFormConnectionYoutube" class="text-field">
            <option value="">-- Permission --</option>
            <option value="1">Standard</option>
            <option value="2">Read Only</option>
            <option value="2">Advance</option>
        </select>
        <i class="fas fa-lock icon-field"></i>
    </div>
    <div class="box-field">
        
        
        * By adding a YouTube connection, you agree to be bound by <a href="https://www.youtube.com/t/terms" target="_blank">YouTube's Terms of Service</a>
    </div>
    <button class="btn btn-primary btnRetryConnection">
        <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-success btnConnect">
        <i class="fas fa-podcast" aria-hidden="true"></i> Connect
    </button>
</form>
