<form  class="cmxform frm" data-form="zoom">
    <div class="box-field">
        <input type="text" name="txtName" id="txtName" class="text-field" placeholder="Name This Connection" value="Zoom"  required>
        <i class="fas fa-podcast icon-field"></i>
    </div>
    <div class="box-field">
        * This requires a <a href="https://zoom.us/signin" target="_blank">paid Zoom plan</a> with cloud recording
    </div>
    <button class="btn btn-primary btnRetryConnection">
        <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-success btnConnect">
        <i class="fas fa-podcast" aria-hidden="true"></i> Connect
    </button>
</form>