<!-- Header -->
<header>
	<div class="nav-header">
		<div class="container">
			<div class="box-header-alt">
				<div class="left-header-alt">
					<div class="box-table">
						
						<div class="display-table">
							<div class="display-table-cell">
								<div class="box-lang">
									<!--
									<div class="list-lang">
										<a href="#" class="active-lang">EN</a>
									</div>
									<div class="list-lang">
										<a href="#">ID</a>
									</div>
									-->
									
									<div class="list-lang">
										<img src="/frontend/assets/images/icons/logo.png" alt="logo"  style="width:25px;height:25px;">
			
									</div>
									<div class="list-lang" style="overflow: hidden;">
										<a href="/account"><span class="fa fa-cogs"></span>Octopuce.io</a>
									</div>
									<div class="clearer"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="center-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								<!--
								<ul class="nav justify-content-end">
									<li class="nav-item">
									  <a class="nav-link active" href="#">Active</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="#">Link</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="#"><span c;ass="fas fa-envelope"></span></a>
									</li>
								</ul>
								-->
							</div>
						</div>
					</div>
				</div>
				<div class="right-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								<!-- Sesudah Login -->
								<div class="box-account">
									<div class="box-table">
										<div class="display-table">
											<div class="display-table-cell">
												<div class="box-content-account">
													<!-- Jika belum update foto profil -->
													<div class="left-content-account">
														<span class="initial"></span>
													</div>
													<!-- Jika sudah update foto profil
													<div class="left-content-account-alt" style="background-image: url('/assets/images/img-andri.png');">
													</div>
													 -->
													<div class="center-content-account">
														<span>Halo</span>
														<div class="title-content-account"></div>
													</div>
													<div class="right-content-account">
														<i class="fas fa-chevron-down"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="box-dropdown">
										<div class="menu-dropdown">
											<span>
												<a href="/account">
													<i class="fas fa-user"></i> <small>Account</small>
												</a>
											</span>
											
											<span>
												<a href="/connections">
													<i class="fas fa-wifi"></i> <small>Connections</small>
												</a>
											</span>

											<span>
												<a href="/workflows">
													<i class="fas fa-cubes"></i> <small>Workflows</small>
												</a>
											</span>
											<span>
												<a href="/templates">
													<i class="fas fa-tags"></i> <small>Templates</small>
												</a>
											</span>
											<span>
												<a href="/calendars">
													<i class="fas fa-calendar"></i> <small>Calendars</small>
												</a>
											</span>
											
											<span class="actLogout">
												<i class="fas fa-lock"></i> <small>Logout</small>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>