<!-- PLUGIN-->
<div id="script">
<script type="text/javascript" src="/assets/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap-popover.min.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- confirm -->
<script type="text/javascript" src="/assets/lib/jquery-confirm/jquery-confirm.min.js"></script>
<!-- validate-->
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>

<!--jquery toast-->
<script type="text/javascript" src="/assets/lib/jquery-toast/jquery.toast.min.js"></script>

<!--END PLUGIN-->

<!--CUSTOM JS-->
<script type="text/javascript" src="/assets/js/helper.js"></script>
<!--
<script type="text/javascript" src="/assets/js/socket.js"></script>
-->
<script type="text/javascript" src="/assets/js/host.js"></script>
<script type="text/javascript" src="/assets/js/const.js"></script>
<script type="text/javascript" src="/frontend/assets/js/api.js"></script>
<script type="text/javascript" src="/assets/js/module.js"></script>



  </div>
  

