<div  class="left-member-area sidebar" > 
    
    <div class="box-avatar">
        <div class="img-avatar">
            <a href="/account" class="initial" style="text-decoration:none;"></a>
        </div>
        <!--
        <div class="img-avatar-alt" style="background-image: url('./assets/images/img-andri.png');"></div>
        -->
        <div class="title-avatar title-content-account">
            
        </div>
        <span>
            <b class="join_date"></b>
        </span>
        <div class="clearer"></div>
    </div>
    
    <div class="box-menu-member">
        <div class="list-menu-member">
            <!--
            <a href="#" class="left_menu" data-page="connections">
            <a href="/connections">
            -->
            <a href="/account">
                <i class="fas fa-user"></i> <small>Dashboard</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="line-menu-member"></div>
        <div class="list-menu-member">
            
            <!--
            <a href="#" class="left_menu" data-page="connections">
            <a href="/connections">
            -->
            <a href="/connections">
                <i class="fas fa-wifi"></i> <small>Connections</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="list-menu-member">
            
            <!--
            <a href="#" class="left_menu" data-page="workflows">
            <a href="/workflows">
            --> 
            <a href="/workflows">
                <i class="fas fa-cubes"></i> <small>Workflows</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="list-menu-member">
            
            <!--
                <a href="#" class="left_menu" data-page="templates">
                <a href="/templates">
            -->
            <a href="/templates">
                <i class="fas fa-tags"></i> <small>Templates</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="list-menu-member">
            <!--
            <a href="#" class="left_menu" data-page="calendars">
            -->
            <a href="/calendars">
                <i class="fas fa-calendar"></i> <small>Calendar</small>
                <div class="clearer"></div>
            </a>
        </div>
      
        <div class="line-menu-member"></div>
        <div class="list-menu-member ">
            <a href="https://www.octopuce.io/" target="_blank">
                <i class="fas fa-globe"></i> <small>Official Website</small>
                <div class="clearer"></div>
            </a>
        </div>

        <div class="line-menu-member"></div>
        <div class="list-menu-member actLogout">
            <i class="fas fa-sign-out-alt"></i> <small>Logout</small>
            <div class="clearer"></div>
        </div>
    </div>
</div>