<section>
	<div class="container-fluid">
		<div class="box-member-area">
			
			<%- include('../components/left')-%>
			<div class="right-member-area">
				
				<div id='calendar-container'>
					<div id='calendar'></div>
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="calendars"	
</script>